.locationList {
    height: 100%;
    max-height: calc(100vh - 84px);
    margin-top: 10px;
    overflow: auto;
}

@media (max-width: 768px) {
    .locationList {
        max-height: 45vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}

.forecastTitle {
    color: gray;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}